div {
    width: 200px;
    height: 100px;
    background-color: #e5989b;
}

h1{
    background-color: pink;
    width: 100px;
}

#one    {
    background-color: #e5989b;
}

#two    {
    background-color: #b5788d;
}

#three  {
    background-color: #6d6875;
}