div {
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
}

section {

    border: 3px dashed black;
}

.one    {
    background-color: cornflowerblue;
}

.two    {
    background-color: crimson;
}

.three  {
    background-color: chocolate;
}

#static .two    {
    position:static;
}

#relative .two    {
    position: relative;
    top: 50px;
    left: 50px;

}

#absolute .two    {
    position: absolute;
    top: 600px;
    left: 100px;
}

#fixed .two    {
    position: absolute;
    top: 800px;
    left: 200px;
}