<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae odio nisi expedita accusamus eaque. Sint
        soluta voluptas in repellendus sit nihil a debitis veniam cum incidunt, consequuntur odit, dolorum recusandae?
    </p>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, doloribus odit? Consequatur at repellat, quibusdam
        voluptas autem expedita harum repellendus, doloremque id sequi provident aliquam laborum ipsa voluptatem!
        Doloribus, doloremque.</p>
</body>

</html>